name: Build APK Manually

on:
  workflow_dispatch:  # <--- ВОТ ЭТА МАГИЯ ДОБАВЛЯЕТ КНОПКУ
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    # Устанавливаем Gradle сами, так как у тебя нет файла gradlew
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: '8.5'

    - name: Build APK
      run: gradle assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: My-Music-App
        path: app/build/outputs/apk/debug/app-debug.apk
